/* CSS Document */
.head
{
    top: 0px;
    left: 0px;
    width: 100%;
    padding: 3px;
    position: fixed;
    background-color: white;
    border-bottom: 1px solid black;
}
.footer
{
    left: 0px;
    width: 100%;
    bottom: 0px;
    position: fixed;
    vertical-align: bottom;
}
table
{
    width: 100%;
}
#body
{
    padding-top: 5%;
    text-align: center;   
}
a:link
{
    color: black;
    text-decoration: none;	
}
a:link:hover
{
    text-decoration: underline;
}	
a:visited
{
    color:black;
    text-decoration: none;
}
.error
{
    color: red;	
}
.btn:hover
{
    cursor: pointer;
    text-decoration: underline;
}

/*Notification*/
div.notif
{
    width: 20%;
    padding: 3px;
    border: 1px solid;
    background-color: white;
    border-top-right-radius: 6px;
    -moz-border-top-right-radius: 6px;
    -webkit-border-top-right-radius: 6px;
}

div#open.notif
{
    border-top-right-radius: 0px;
    -moz-border-top-right-radius: 0px;
    -webkit-border-top-right-radius: 0px;
}

div#notifications
{
    max-height: 200px;
    overflow-y: scroll;
    border-bottom: 1px solid;
}